*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    //background-color: rgb(15 23 42);
    background-color: $backgroundColor;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app{
    max-width: 50rem;
    //border: 1px solid yellow;
    margin: 1rem;
    
    @include screenTablet{
        margin: 0 auto;
        padding: 1rem;
    }
    
    h1{
        color: $headingColor;
        font-size: $bigFont; 
        margin-bottom: 0.5rem;
        //text-shadow: 3px 1px 5px rgba(51, 44, 44, 0.6);
        @include screenTablet{
            font-size: $biggerFont; 
        }
    }
    h2{
        color: $headingColor;
        margin-bottom: 0.2rem;
        font-size: 1.1rem;
        //text-shadow: 3px 1px 5px rgba(212, 112, 112, 0.4);
        @include screenTablet{
            font-size: $bigFont; 
        }
    }
    p{
        color: $textColor;
        margin-top: 0.3rem;
        font-size: $smallFont;
        @include screenTablet{
            font-size: $midFont; 
        }
    }
    .skills{
    width: 95%;
        ul{
            li{
                color: $linkColor;
                list-style-type: none;
                display: inline-block;
                margin: 0.4rem;
                padding:0.2rem;
                border-radius: 5px;
                //border: 1px solid magenta;
                background-color: rgb(255, 255, 255);
                font-size: $smallFont;
                font-weight: 700;
                //box-shadow: 4px 3px 6px rgba(253, 38, 224, 0.4);

                &:hover{
                   // background-color: black;
                   // color: yellow;
                    //box-shadow: 4px 3px 6px rgba(248, 244, 19, 0.6);
                    //font-size: 0.9rem;
                }
                @include screenTablet{
                    font-size: 0.93rem;
                }
            }
        }
        @include screenTablet{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .introductionText{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            width: 92%;
            text-align: justify;
            line-height: 1.8rem;
            margin-bottom: 0.3rem;
           // display: block;
           // text-shadow: 3px 1px 5px rgba(102, 236, 84, 0.4);
           // border-bottom: 1px solid white;
           @include screenTablet{
            width: 89%;
        }
        }
    }
    .links{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            img{
                width: 2.6rem;
                height: auto;
                border-radius: 20px;
            }
            .githubLogoimg{
                width: 2rem;
                //border: 1px solid magenta;
            }
        }
       
    }
    .education{
        margin-top: 2rem;
        //border-bottom: 1px solid white;
        .educationLevel{
            //border: 1px solid magenta;
            margin-top: 0.4rem;
            padding: 0.3rem;
            h4{
                color: $textColor;
                font-size: $midFont;
                &:hover{
                    //color: yellow;
                }
                @include screenTablet{
                    font-size: $midFont;
                }
            }
            p{
                font-size: $smallFont;
                @include screenTablet{
                    font-size: $midFont;
                }
            }
        }
    }
    .projects{
        margin-top: 2rem;
        width: 95%;
        //border-bottom: 1px solid white;
        .project{
            margin-top: 0.4rem;
            padding: 0.3rem;
            background-color: rgb(250, 245, 245);
            border-radius: 5px;
            //border-bottom: 1px dashed white;
            h3{
                margin-top: 0.6rem;
                color: $headingColor;
                //text-shadow: 4px 3px 6px rgba(199, 201, 78, 0.6);
                font-size: $midFont;
                @include screenTablet{
                    font-size:$bigFont;
                }
            }
            p{
                margin-top: 0.5rem;
                font-size: $smallFont;
                text-align: justify;
                @include screenTablet{
                    font-size: 1.1rem;
                }
            }
            .projectLinks{
                display: flex;
                justify-content: center;
                margin: 1rem;
                a{
                    text-decoration: none;
                    p{
                        margin: 0.6rem;
                        display: inline;
                        color:rgb(48, 45, 45);
                        padding: 0.4rem;
                        background-color: $accent1;
                        border-radius: 5px;
                    }
                }
                
            }
        }
    }
    .sayHello{
        //display: flex;
       // justify-content: center;
       padding: 2rem;
       // border: 1px solid yellow;
        margin-top: 3rem;
        margin-bottom: 2rem;
        //border: 1px dashed rgb(229, 255, 0);
       max-width: 47rem;
        p{
            text-align: center;
            margin-bottom: 2rem;
        }
        label{
            color: $headingColor;
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include screenTablet{
                font-size: $midFont;
            }
        }
        input{
            display: block;
            margin: 0 auto;
            padding: 0.3rem;
            width: 90%;
            border: none;
            font-size: $smallFont;
            height: 2.8rem;
            text-align: center;
            border-radius: 5px;
           // box-shadow: 4px 3px 6px rgba(124, 245, 11, 0.6);
            max-width: 28rem;
        }
        .inputText{
            display: block;
            margin: 0 auto;
            margin-bottom: 1.1rem;
            padding: 1rem;
            width: 90%;
            max-width: 28rem;
            font-size: $smallFont;
            height: 25vh;
            border: none;
            border-radius: 5px;
            //box-shadow: 4px 3px 6px rgba(49, 248, 10, 0.6);
        }
        button{
            display: block;
            margin: 0 auto;
            margin-top: 1rem;
            border: none;
            width: 12rem;
            padding: 0.5rem 1.1rem 0.5rem 1.1rem;
            border-radius: 10px;
            color: $textColor;
            background-color: $accent1;
            font-size: $smallFont;
            font-weight: 600;
            //box-shadow: 4px 3px 6px rgba(253, 38, 224, 0.6);
            margin: 0 auto;
            &:hover{
                //background-color: rgb(151, 167, 136);
                //color: rgb(240, 243, 38);
                //box-shadow: 4px 3px 6px rgba(229, 230, 225, 0.6);
            }
        }
    }
}