*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    //background-color: rgb(15 23 42);
    background-color: rgb(18, 46, 11);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app{
    max-width: 50rem;
    //border: 1px solid yellow;
    
    margin: 0 auto;
    padding: 1rem;
    
    h1{
        color: rgb(239, 243, 247);
        font-size: 1.4rem; 
        text-shadow: 3px 1px 5px rgba(167,130,130,0.6);
        @include screenTablet{
            font-size: 1.6rem; 
        }
    }
    h2{
        color: rgb(218, 227, 235);
        margin-top: 0.8rem;
        font-size: 1.5rem;
        text-shadow: 3px 1px 5px rgba(167,130,130,0.6);
        @include screenTablet{
            font-size: 1.7rem; 
        }
    }
    p{
        color: rgb(218, 227, 235);
        margin-top: 0.3rem;
        font-size: 1rem;
        @include screenTablet{
            font-size: 1.2rem; 
        }
    }
    .skills{
    width: 95%;
        ul{
            li{
                color: rgb(230, 17, 17);
                list-style-type: none;
                display: inline-block;
                margin: 0.4rem;
                padding:0.2rem;
                border-radius: 5px;
                //border: 1px solid magenta;
                background-color: aliceblue;
                font-size: 0.8rem;
                font-weight: 700;
                box-shadow: 4px 3px 6px rgba(253, 38, 224, 0.6);

                &:hover{
                    background-color: black;
                    color: yellow;
                    box-shadow: 4px 3px 6px rgba(248, 244, 19, 0.6);
                    //font-size: 0.9rem;
                }
                @include screenTablet{
                    font-size: 0.93rem;
                }
            }
        }
        @include screenTablet{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .introductionText{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        p{
            width: 92%;
            text-align: justify;
            text-shadow: 3px 1px 5px rgba(167,130,130,0.6);
           // border-bottom: 1px solid white;
           @include screenTablet{
            width: 89%;
        }
        }
    }
    .links{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 2.6rem;
            height: auto;
            border-radius: 20px;
        }
        .githubLogoimg{
            width: 2rem;
            //border: 1px solid magenta;
        }
    }
    .education{
        margin-top: 2rem;
        border-bottom: 1px solid white;
        .educationLevel{
            //border: 1px solid magenta;
            margin-top: 0.4rem;
            padding: 0.3rem;
            h4{
                color: rgb(255, 252, 252);
                font-size: 1rem;
                &:hover{
                    color: yellow;
                }
                @include screenTablet{
                    font-size: 1.2rem;
                }
            }
            p{
                font-size: 0.8rem;
                @include screenTablet{
                    font-size: 1rem;
                }
            }
        }
    }
    .projects{
        margin-top: 2rem;
        width: 95%;
        border-bottom: 1px solid white;
        .project{
            margin-top: 0.4rem;
            padding: 0.3rem;
            border-bottom: 1px dashed white;
            h3{
                margin-top: 0.6rem;
                color: rgb(250, 234, 10);
                text-shadow: 4px 3px 6px rgba(199, 201, 78, 0.6);
                font-size: 1.2rem;
                @include screenTablet{
                    font-size: 1.3rem;
                }
            }
            p{
                margin-top: 0.5rem;
                font-size: 1rem;
                text-align: justify;
                @include screenTablet{
                    font-size: 1.1rem;
                }
            }
        }
    }
    .sayHello{
        margin-top: 3rem;
        margin-bottom: 2rem;
        //border: 1px dashed rgb(229, 255, 0);
       max-width: 37rem;
        p{
            text-align: center;
            margin-bottom: 2rem;
        }
        label{
            color: rgb(245, 239, 239);
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include screenTablet{
                font-size: 1.1rem;
            }
        }
        input{
            display: block;
            margin: 0 auto;
            padding: 0.3rem;
            width: 90%;
            border: none;
            font-size: 1rem;
            height: 2.8rem;
            text-align: center;
            border-radius: 5px;
            box-shadow: 4px 3px 6px rgba(124, 245, 11, 0.6);
            max-width: 28rem;
        }
        .inputText{
            display: block;
            margin: 0 auto;
            padding: 1rem;
            width: 90%;
            max-width: 28rem;
            font-size: 1rem;
            height: 25vh;
            border: none;
            border-radius: 5px;
            box-shadow: 4px 3px 6px rgba(49, 248, 10, 0.6);
        }
        button{
            display: block;
            margin: 0 auto;
            margin-top: 1rem;
            border: none;
            width: 12rem;
            padding: 0.5rem 1.1rem 0.5rem 1.1rem;
            border-radius: 10px;
            color: rgb(48, 51, 44);
            background-color: rgb(184, 194, 174);
            font-size: 1rem;
            font-weight: 600;
            box-shadow: 4px 3px 6px rgba(253, 38, 224, 0.6);
            margin: 0 auto;
            &:hover{
                background-color: rgb(151, 167, 136);
                color: rgb(240, 243, 38);
                box-shadow: 4px 3px 6px rgba(229, 230, 225, 0.6);
            }
        }
    }
}