//font sizes:
$smallFont: 1rem;
$midFont: 1.1rem;
$bigFont: 1.4rem;
$biggerFont: 2rem;

$black :rgb(34, 40, 49);
$grey :rgb(57, 62, 70);
$teal :rgb(0, 173, 181);
$white :rgb(238, 238, 238);

$primary: rgb(0, 138, 148); // Deep Teal
$accent1: rgb(255, 165, 0); // Orange
$accent2: rgb(238, 238, 238); // Light Grey
$background: white; // White
$paragraph-color: #999999;

// Primary color: Navy Blue
$primary-color: #2C3E50; // Use this for headers, footers, and key elements
// Secondary color: Sky Blue
$secondary-color: #3498DB; // Use this for highlights, buttons, and links
// Accent color: Coral
$accent-color: #E74C3C; // Use this sparingly for calls to action and important icons
// Neutral color: Light Grey
$neutral-color: #ECF0F1; // Use this for backgrounds, borders, and spacing elements
// Text colors
$text-color: #2C3E50; // Use this for main text (headings)
$paragraph-color: #7F8C8D; // Use this for body text

$backgroundColor:rgb(245, 242, 242);;
$linkColor: rgb(16, 204, 214);
$textColor: rgb(57, 62, 70);
$headingColor: rgb(34, 40, 49);